.chat-layout {
    height: 100vh;
    overflow: hidden;
    background-color: #f0f2f5;
}

/*left sidebar*/
.left-sidebar-wrapper {
    width: 380px;
    border-right: 1px solid #dee2e6;
    background-color: #fff;
    flex-shrink: 0;
}

.mini-nav {
    width: 60px;
    background-color: #005ae0 !important;
    border-right: 1px solid #dee2e6;
    height: 100%;
}

.chat-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
}

.search-bar-container {
    height: auto;
}

.contact-list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.contact-list::-webkit-scrollbar {
    width: 5px;
}

.contact-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

/*user card*/
.user-card {
    cursor: pointer;
    transition: background-color 0.2s;
    border: none;
    margin-bottom: 10px;
}

.user-card:hover {
    background-color: #e9ecef;
}

/*center*/
.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.message-view {
    flex: 1;
    overflow-y: auto;
    background-color: #e5e5e5;
    padding: 20px;
}

.message-input {
    border-top: 1px solid #dee2e6;
    background-color: #f0f0f0;
    padding: 10px;
}

.toolbar {
    margin-bottom: 5px;
}

/*right sidebar*/
.right-sidebar {
    width: 20%;
    border-left: 1px solid #dee2e6;
    background-color: #fff;
}