.chatContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.content{
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
}